<h1>アカウントの編集</h1>

<%= render "form", user: @user %>

<hr>

<div class="mb-5">
  <%= link_to icon_with_text("trash", "アカウントを削除する"), @user, class: "btn__basic__l btn__red", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"} %>
</div>
